name: Release Chart

on:
  push:
    branches:
      - main

permissions: {}

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      
      - uses: wemogy/next-release-version-action@1.0.1
        id: release-version
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: update version
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          sed -i -e 's/^version: .*$/version: ${{ steps.release-version.outputs.next-version }}/gm' kanidm/Chart.yaml
          git add .
          git commit -m "updated version [skip ci]"
          git push

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: .
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
